@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
*{
    box-sizing: border-box;

}
body{
    border: 3px solid black;
    background-image:url(../images/sppu.jpg);
    background-position: center;
    background-size: cover;
    color: black;
}

#sub {
     display: block;
     width: 100%;
     border: 3px solid wheat;
     padding: 10px;
     border-radius: 30px;
     /* color: #333 */
 }

 #sub:focus {
     outline: none
 }

 label{
     color:red;
     font-size: 1.2rem;
 }

